@font-face{
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextLTPro-Regular.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextLTPro-Demi.otf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

@font-face{
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextLTPro-Bold.otf') format('truetype');
    font-style: normal;
    font-weight: 800;
}